<p></p>
<br>
<div class="padded">
    <mat-card [class.mat-elevation-z8] layout-align="center center" class="form-card">
        <mat-card-header>
            <mat-card-title>
                Prediction Form 
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="predictForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <mat-form-field class="reg-full-width">
                        <input matInput type="text" formControlName="state" name="state" class="form-control" id="name" placeholder="State">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="reg-full-width">
                        <input matInput type="text" formControlName="district" name="district" class="form-control" id="name" placeholder="District">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="reg-full-width">
                        <input matInput type="text" formControlName="market" name="market" class="form-control" id="name" placeholder="Market">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="reg-full-width">
                        <input matInput type="text" formControlName="variety" name="variety" class="form-control" id="name" placeholder="Variety">
                    </mat-form-field>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent" class="button" type="submit">Predict</button>
        </mat-card-actions>
    </mat-card>
</div>

