<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false"
      >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="drawer.toggle()" routerLink="">Home</a>
      <a mat-list-item (click)="drawer.toggle()" routerLink="/profile">Profile</a>
      <a mat-list-item (click)="drawer.toggle()" routerLink="/predict">Predict</a>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Cotton Price Prediction</span>
      <span class="spacer"></span>
      <div class="navbar" *ngIf="!(isHandset$ | async)">
        <button mat-button (click)="onClick" [routerLinkActive]="['active']" routerLink="/">Home</button>
          <button mat-button  (click)="onClick" [routerLinkActive]="['active']" routerLink="/predict">Prediction</button>
          <button mat-button  (click)="onClick" [routerLinkActive]="['active']" routerLink="/profile">Dashboard</button>
          

      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
